mysoap/ACKMsg.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://webservice.bgcd.hwt.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://webservice.bgcd.hwt.com">
    <wsdl:documentation>InBoundsService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.bgcd.hwt.com">
            <xs:element name="in_bounds">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="messageType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="in_boundsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="formateDate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="formateDateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="formateDateRequest">
        <wsdl:part name="parameters" element="ns:formateDate"/>
    </wsdl:message>
    <wsdl:message name="formateDateResponse">
        <wsdl:part name="parameters" element="ns:formateDateResponse"/>
    </wsdl:message>
    <wsdl:message name="in_boundsRequest">
        <wsdl:part name="parameters" element="ns:in_bounds"/>
    </wsdl:message>
    <wsdl:message name="in_boundsResponse">
        <wsdl:part name="parameters" element="ns:in_boundsResponse"/>
    </wsdl:message>
    <wsdl:portType name="InBoundsServicePortType">
        <wsdl:operation name="formateDate">
            <wsdl:input message="ns:formateDateRequest" wsaw:Action="urn:formateDate"/>
            <wsdl:output message="ns:formateDateResponse" wsaw:Action="urn:formateDateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="in_bounds">
            <wsdl:input message="ns:in_boundsRequest" wsaw:Action="urn:in_bounds"/>
            <wsdl:output message="ns:in_boundsResponse" wsaw:Action="urn:in_boundsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="InBoundsServiceSoap11Binding" type="ns:InBoundsServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="formateDate">
            <soap:operation soapAction="urn:formateDate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="in_bounds">
            <soap:operation soapAction="urn:in_bounds" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="InBoundsServiceSoap12Binding" type="ns:InBoundsServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="formateDate">
            <soap12:operation soapAction="urn:formateDate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="in_bounds">
            <soap12:operation soapAction="urn:in_bounds" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="InBoundsServiceHttpBinding" type="ns:InBoundsServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="formateDate">
            <http:operation location="formateDate"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="in_bounds">
            <http:operation location="in_bounds"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="InBoundsService">
        <wsdl:port name="InBoundsServiceHttpSoap11Endpoint" binding="ns:InBoundsServiceSoap11Binding">
            <soap:address location="http://www.cusdectrans.com:8014/BGCDWebService/services/InBoundsService.InBoundsServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="InBoundsServiceHttpSoap12Endpoint" binding="ns:InBoundsServiceSoap12Binding">
            <soap12:address location="http://www.cusdectrans.com:8014/BGCDWebService/services/InBoundsService.InBoundsServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="InBoundsServiceHttpEndpoint" binding="ns:InBoundsServiceHttpBinding">
            <http:address location="http://www.cusdectrans.com:8014/BGCDWebService/services/InBoundsService.InBoundsServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>