mysoap/OutBounds.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://webservice.bgcd.hwt.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://webservice.bgcd.hwt.com">
    <wsdl:documentation>OutBoundsService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.bgcd.hwt.com">
            <xs:element name="out_bounds">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xmlStr" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="out_boundsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="out_boundsRequest">
        <wsdl:part name="parameters" element="ns:out_bounds"/>
    </wsdl:message>
    <wsdl:message name="out_boundsResponse">
        <wsdl:part name="parameters" element="ns:out_boundsResponse"/>
    </wsdl:message>
    <wsdl:portType name="OutBoundsServicePortType">
        <wsdl:operation name="out_bounds">
            <wsdl:input message="ns:out_boundsRequest" wsaw:Action="urn:out_bounds"/>
            <wsdl:output message="ns:out_boundsResponse" wsaw:Action="urn:out_boundsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OutBoundsServiceSoap11Binding" type="ns:OutBoundsServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="out_bounds">
            <soap:operation soapAction="urn:out_bounds" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OutBoundsServiceSoap12Binding" type="ns:OutBoundsServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="out_bounds">
            <soap12:operation soapAction="urn:out_bounds" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OutBoundsServiceHttpBinding" type="ns:OutBoundsServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="out_bounds">
            <http:operation location="out_bounds"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OutBoundsService">
        <wsdl:port name="OutBoundsServiceHttpSoap11Endpoint" binding="ns:OutBoundsServiceSoap11Binding">
            <soap:address location="http://www.cusdectrans.com:8014/BGCDWebService/services/OutBoundsService.OutBoundsServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="OutBoundsServiceHttpSoap12Endpoint" binding="ns:OutBoundsServiceSoap12Binding">
            <soap12:address location="http://www.cusdectrans.com:8014/BGCDWebService/services/OutBoundsService.OutBoundsServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="OutBoundsServiceHttpEndpoint" binding="ns:OutBoundsServiceHttpBinding">
            <http:address location="http://www.cusdectrans.com:8014/BGCDWebService/services/OutBoundsService.OutBoundsServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>